.mono {
  font-family: monospace;
  padding: 5px;
}

.mono-pad {
  font-family: monospace;
  padding: 10px;
}

.it {
  font-style: italic;
  text-decoration: underline;
}

#live-demo-button {
  font-size: inherit;
}